.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
  margin-right: 10px;
}

.container:last-child {
  margin-left: 40px;
}

.blockPrice {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
