.container {
  box-sizing: border-box;
  max-width: 620px;
  max-height: 812px;
  padding: 10px 0 16px 20px;
}

.tabContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ingredients {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 78%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  padding-right: 10px;
}

.wrapperList {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  justify-content: space-around;
}

.listItem {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background-color: #2f2f37;
  border-radius: 10px;
  margin-bottom: 70px;
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 4px;
}

.ingredients::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.ingredients::-webkit-scrollbar-button {
  display: none;
}

/* .title{

} */

/* .blockIngredient {
} */
/* .subtitle {
  margin: 0;
  padding: 0;
} */
