.container {
  position: fixed;
  max-width: 720px;
  max-height: 718px;
  width: 100%;
  background-color: #1c1c21;
  border: 1px solшв #4c4cff;
  border-radius: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.load {
  max-width: min-content;
}

.closeButton {
  position: absolute;
  top: 60px;
  right: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.closeButton_loadScreen {
  z-index: -1;
}

.closeButton:hover {
  opacity: 0.6;
}
