.containerFeed {
  width: 535px;
  background: #1c1c21;
  border-radius: 40px;
  padding: 24px;
  margin-right: 8px;
  transition: 0.2s;
}
.container {
  composes: containerFeed;
  width: 830px;
}

.container:hover {
  transform: scale(0.97);
}

.link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredientList {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  list-style-type: none;
}

.imageContainer {
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: -20px;
  background-color: #131316;
  border-radius: 50%;
  border: 3px solid #801ab2;
  overflow: hidden;
  z-index: 2;
  /* 4 */
}

.imgage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.number {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  left: 7px;
  bottom: 0px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
