.container {
  width: 100%;
  /* border: 1px solid red; */
}

.container_notIcon {
  padding-left: 28px;
}

.blockElement {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
