.container {
  margin: 50px auto 0;
  width: 640px;
  max-width: 100%;
  z-index: 10;
}

.containerPage {
  composes: container;
  max-height: 620px;
}

.title {
  text-align: center;
}

.listIngredients {
  width: 100%;
  max-height: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.listIngredients::-webkit-scrollbar {
  width: 8px;
}

.listIngredients::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 8px;
}

.listIngredients::-webkit-scrollbar-thumb {
  background: #a5a5d6;
  border-radius: 8px;
}

.listIngredients::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}

.ingredient {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.imagContainer {
  display: flex;
  align-items: center;
}

.image {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #131316;
  border: 3px solid #801ab2;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}

.priceContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.infoBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
