.container {
  margin: 0 auto;
  width: 1280px;
}

.dataBlock {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feed {
  width: 600px;
  max-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0 56px 0 0;
  overflow-y: scroll;
  list-style-type: none;
}

.feed::-webkit-scrollbar {
  width: 8px;
}

.feed::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 8px;
}

.feed::-webkit-scrollbar-thumb {
  background: #a5a5d6;
  border-radius: 8px;
}

.feed::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}

.ordersData {
  width: 90%;
  max-width: 600px;
}

.ordersInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.orderList {
  font-size: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #00cccc;
}

.orderListReady {
  composes: orderList;
  color: unset;
}

.number {
  text-shadow: 0px 0px 16px rgb(51 51 255 / 25%), 0px 0px 8px rgb(51 51 255 / 25%), 0px 4px 32px rgb(51 51 255 / 50%);
}
