.header {
  margin: 0 auto;
  background: #1c1c21;
  padding: 16px 0;
}

.navBlock {
  max-width: 1280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 5;
}

.navBlock__wrapperList {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 16px 20px;
  border-radius: 40px;
  background-color: transparent;
  align-items: center;
  gap: 8px;
}
.link:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.linkText {
  composes: text text_type_main-default text_color_inactive ml-2 from global;
}

.linkText_active {
  composes: linkText;
  /* composes: text text_type_main-default ml-2 from global; */
  color: #f2f2f3;
}

.header__logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* .navBlock__navItem {
  width: 178px;
  height: 56px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: unset;
  transition: 0.2s;
  color: #8585ad;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.2s;
  padding: 16px 20px;
  color: #8585ad;
} */
/*
.navBlock__link {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: unset;
  border-radius: 40px;
  transition: 0.2s;
  padding: 16px 20px;
  color: #8585ad;
} */

/* .navBlock__navItem:nth-child(2) {
  margin-left: 10px;
} */

/* .navBlock__link:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} */
