.container {
  max-width: 600px;
  max-height: 912px;
  overflow: hidden;
  padding: 0 1px 0 30px;
  margin-right: 100px;
}

.blockIngredients {
  margin: 100px 0 72px;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.wrapperList::-webkit-scrollbar {
  width: 8px;
}

.wrapperList::-webkit-scrollbar-track {
  background-color: #2f2f37;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.wrapperList::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 4px;
}

.wrapperList::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.wrapperList::-webkit-scrollbar-button {
  display: none;
}

.wrapperList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;
  overflow-x: hidden;
}

.listElement {
  margin: 0;
  padding: 0;
}
